@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    margin-bottom: 60px;
}
* {
    margin: 0;
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.container-large {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.v-center {
    align-items: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* announcement bar */
.announcement-bar {
    background-color: #ece9e4 ; 
}
.announcement-bar p {
    font-size: 12px;
    padding: 15px 0;
}

.announcement-bar a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
}
.announcement-bar .v-center{
    align-items: center;
    justify-content: center;
}
/* header */
.header {
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 10px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.header .item-left {
    flex: 0 25%;
}
.header .logo a {
    font-size: 48px;
    color: #000;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
.logo img {
    max-width: 180px;
}
.header .item-center {
    flex: 58%;
    display: flex;
    justify-content: flex-end;
}
.header .item-right {
    flex: 0 17%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .item-right a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #666;
    display: inline-block;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.header .cart-bag img {
    width: 24px;
}
.header .fa-search {
    font-size: 16px;
}
.header .menu > ul > li {
    display: inline-block;
    line-height: 50px;
    margin-left: 22px;
}

.header .menu > ul > li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    position: relative;
    text-transform: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header .menu > ul > li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #fff;
    box-shadow: 0 1px 1px #29292933;
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}
@media(min-width: 992px) {
.header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
}
.header .menu > ul > li .sub-menu > ul > li {
    line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 11px;
    color: #555;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}
.header .menu > ul > li .single-column-menu {
    min-width: 100px;
    max-width: 200px;
    padding: 10px 20px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
    line-height: 1;
    display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555;
    transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 25%;
    padding: 0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
    text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
    color: #7d7d7d;
}

.mobile-menu-head,
.mobile-menu-trigger {
    display: none;
}

.col-1{
    flex-basis: 100%;
}

/* start slider css */


.slider{
    width:100%;
    height: 550px;
    overflow: hidden;
}

.slide img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1.5s;
}

.four img{
    object-position: center;
}

.five img{
    object-position: bottom;
}

/* css for manual slide transition*/

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:hover{
    background-color: white;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/* automatic navigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 500px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}

/* end slider css

/*
.col-1 img{
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}*/

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.welcome-section {
    padding: 80px 30px;
}

.col-2 .text-block {
    position: relative;
    bottom: 40px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    position: relative;
    padding: 0 20px;
}

.col-3 {
    flex-basis: 33%;
}

.col-6 {
    flex-basis: 66%;
}

.col-2 img{
    max-width: 100%;
    border-radius: 8%;
    filter: drop-shadow(20px 10px 20px #a1a9b8);
}

.col-2 h2{
    font-size: 58px;
    line-height: 60px;
    padding: 20px 0;
    text-shadow: 2px 2px #ebe9e3;
    /* font-family: 'Lora', serif; */
}

.col-1 h3,
.col-3 h3,
.col-2 h3 {
    font-size: 26px;
    /* font-family: 'Lora', serif; */
    text-transform: uppercase;
    color: #04a96d;
    font-weight: 700;
}

.col-2 p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 0.2em;
    padding-right: 50px;
}

.insta-feed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;
}

.insta-feed a {
    position: relative;
    width: 24%;
}
.insta-feed img {
    width: 100%;
    height: 280px;
    vertical-align: top;
    object-fit: cover;
}
.insta-feed a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.insta-feed a:hover:after {
    opacity: 1;
}

.socials { 
    padding: 30px 0;
}

.socials h2 {
    text-align: center;
    padding: 20px 0;
}

.socials-btns { 
    padding: 30px 0; 
}

.socials p {
    text-align: center;
}

.socials .btn {
    background: #6cadff;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
}

.socials .btn:hover {
    background: #e66465;
    transition: all 0.5s ease;
}

.theFarm,
.contact {
    padding: 80px 20px;
}

.contact {
    background: #ecf0ed;
}

.theFarm .col-1 h2 {
    font-size: 40px;
    line-height: 60px;
    padding: 20px 0;
    text-shadow: 2px 2px #ebe9e3;
}

.theFarm .col-6 .insta-feed img {
    width: 45%;
    border-radius: 0;
}

.theFarm .col-6 .insta-feed img :nth-child(2) {
    object-position: right;
}
.theFarm .col-6 .insta-feed img :nth-child(3) {
    object-position: 25%;
}
.theFarm .col-6 .insta-feed img :nth-child(3) {
    object-position: 50% 30%;
}

section.food-with-purpose,
section.the-food {
    padding: 50px 20px;
}

.food-with-purpose h3,
.the-food h3,
.contact h3 {
    padding: 20px 0;
}

.the-food p {
    font-size: 18px;
}

.food-with-purpose img,
.the-food img {
    width: 100%;
    max-width: 700px;
    margin-top: 40px;
}

.the-food span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-top: 10px
}

.the-food span img {
    width: 30px !important; 
    margin: 0 !important;
}

.food-with-purpose h3,
.food-with-purpose p,
.the-food h3,
.the-food p,
.contact h3,
.contact p {
    text-align: center;
}

.food-with-purpose .btn {
    color: #fff;
    background: #04a96d;
    padding: 10px 15px;
}

.food-with-purpose .btn:hover {
    color: #222; 
    background: #fff;
    border: 1px solid #222;
    transition: all 0.5s ease;
}

.food-with-purpose .insta-feed {
    padding-bottom: 40px;
}

.food-with-purpose .insta-feed img {
    width: 100%;
    height: 400px;
}

.food-with-purpose .insta-feed a {
    width: 24%;
}

.food-with-purpose .insta-feed a:after {
    top: 40px;
    width: 100%;
    height: 400px;
}

.contact p {
    font-size: 16px;
    padding-bottom: 20px;
}

.contact img {
    width: 100%;
}

.footer .container {
    max-width: 100%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebe9e3;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer-menu a {
    color: #222;
    font-size: 15px;
}

.footer-menu a:hover {
    color: #7d7d7d;
}

.footernav-item {
    padding-top: 20px;
}

.footernav-item h1 {
    text-align: center;
}

.footernav-item ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footernav-item ul li {
    margin: 0 10px;
}

.footer-right p {
    text-align: center;
    color: #222;
    font-size: 14px;
}

/* responsive */


@media screen and (max-width: 554px) {
    .announcement-bar p {
        font-size: 11px;
    }
    .email-form {
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 420px) {
    .v-center {
        gap: 1em;
    }
    .row {
        flex-wrap: none;
    }
    .header .logo a {
        font-size: 2em;
    }
    .footernav-item ul {
        position: relative;
        right: -20px;
    }
}

@media screen and (max-width: 390px) {
    .footernav-item ul {
        right: -10px;
    }
}

@media only screen and (max-width: 700px) {
    .col-2{
        text-align: center;
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }
    .col-2 h2{
        padding-top: 70px;
    }
    .col-2 p{
        padding-right: 0;
    }
    .welcome-section {
        padding-top: 30px;
    }
    .col-3 {
        flex-basis: 100%;
    }
    .theFarm .col-3 {
        padding: 10px 20px 40px;
    }
    .col-6 {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 800px) {
    .hero-main .hero-slides {
        flex-wrap: wrap;
    }
    .hero-slides .right-side,
    .hero-slides .left-side {
        width: 100%;
    }
    .hero-slides .left-side .text-block{
        position: relative;
        top: 0;
    }
    .keepInTouch .container .body-section,
    .hours-info .container .body-section {
        flex-wrap: wrap;
    }
    .keepInTouch .text-right .left-side,
    .hours-info .text-right .left-side {
        width: 100%;
    }

    .keepInTouch .text-right .left-side img,
    .hours-info .text-right .left-side img {
        padding: 20px
    }
    .keepInTouch .text-right .right-side,
    .hours-info .text-right .right-side {
        width: 100%;
        padding: 20px 0;
    }
    .insta-feed a {
        width: 100% !important;
        margin: 10px 30px;
    }
    .insta-feed :nth-child(5),
    .insta-feed :nth-child(6),
    .insta-feed :nth-child(7),
    .insta-feed :nth-child(8){
        display: none;
    }
    .subscribe-section {
        flex-direction: column;
        justify-content: center;
    }
    /* .footer-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 20px;
    } */
    .footer-left,
    .footer-center {
        flex-basis: 50%;
    }
    .footer-right {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-right p {
        text-align: center;
    }
}


@media (max-width: 991px) {

/* MENU RESPONSIVE */

    .header .item-center {
        order: 3;
        flex: 0 0 100%;
    }
    .header .item-left,
    .header .item-right {
        flex: 0 0 auto;
    }
    .v-center {
        justify-content: space-between;
    }
    .header .mobile-menu-trigger {
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-self: center;
    }
    .header .mobile-menu-trigger span {
        display: block;
        height: 2px;
        background-color: #333;
        width: 24px;
        position: relative;
    }
    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
    }
    .header .mobile-menu-trigger span:before {
        top: -6px;
    }
    .header .mobile-menu-trigger span:after {
        top: 6px;
    }
    .header .item-right {
        align-items: center;
    }

    .header .menu {
        position: fixed;
        width: 320px;
        background-color: #fff;
        /* box-shadow: 0 0 15px #ccc; */
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }
    .header .menu.active {
        transform: translate(0%);
    }
    .header .menu > ul > li {
        line-height: 1;
        margin: 0;
        display: block;
    }
    .header .menu > ul > li > a {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .header .menu > ul > li > a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        /* border-left: 1px solid rgba(0,0,0,0.1); */
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }
    .header .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #fff;
        top: 0;
    }
    .header .menu .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000;
        font-size: 16px;
        display: none;
    }
    .header .menu .mobile-menu-head.active .go-back {
        display: block;
    }
    .header .menu .mobile-menu-head .current-menu-title {
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    .header .menu .mobile-menu-head .mobile-menu-close {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000;
        font-size: 24px;
    }
    .header .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .header .menu > ul > li .sub-menu.mega-menu,
    .header .menu > ul > li .sub-menu {
        /* background-color: grey; */
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }
    .header .menu > ul > li .sub-menu.active {
        display: block;
    }
    @keyframes slideLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes slideRight{
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }
    /* .header .menu > ul > li .sub-menu.sub-menu {
        min-width: none;
        max-width: 100%;
    } */
    /* .header .menu > ul > li .sub-menu.sub-menu.mega-menu-column-4 {
        padding: 15px;
    } */
    .header .menu > ul > li .sub-menu.sub-menu.mega-menu-column-4 > .list-item img {
        margin-top: 0;
    }
    .header .menu > ul > li .sub-menu.sub-menu.mega-menu-column-4 > .list-item.list-item.text-center:last-child .title {
        margin-bottom: 0px;
    }
    .header .menu > ul > li .sub-menu.sub-menu.mega-menu-column-4 > .list-item {
        flex: 0 0 100%;
        padding: 0px
    }
    .header .menu > ul > li .sub-menu > ul > li > a,
    .header .menu > ul > li .sub-menu.sub-menu.mega-menu > .list-item > ul > li > a {
        display: block;
    }
    .header .menu > ul > li .sub-menu.sub-menu.mega-menu > .list-item > ul {
        margin-bottom: 15px;
    }
    .menu-overlay {
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
}